@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.5em 1em;
  font-size: 0.7rem;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
  margin: 0;
}

.footer {
  background-color: #eee;
}

.left-links,
.right-links {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  gap: 1rem;
}
