doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../index.css")
    script(src="../index.js" defer) 
    title Document
  body
    .wrapper
      ul.sketchpad
      .actions
        .input-div
          input.input(type="text" maxlength="2")
          button load
        .buttons 
          button black 
          button gray 
          button eraser



    