*, *::before, *::after 
  box-sizing border-box

* 
  margin 0
  padding 0

img 
  max-width 100%
  display block

h1, h2, h3, h4, h5, h6 
  word-break balance

button
  border: none
  background-color transparent
  border: 2px solid #202020
  border-radius: .25rem
  padding .5rem 1rem
  cursor pointer

clr-100 = #f0f0f0;

body 
  min-height 100vh
  background-color clr-100
  display flex
  align-items center
  justify-content center
  font-family: sans-serif

.wrapper
  width 100%
  display flex
  flex-direction: column
  align-items center

.main
  position relative

  .reset-pad 
    position: absolute
    top: 0
    right 0
    translate: 0 -100%
    padding .25rem .5rem

  .sketchpad
    display grid
    width 500px
    height 500px
    background-color #fff
    box-shadow: 0px 5px 8px rgba(black, 0.2)
    border: 1px solid rgba(black, 0.1)
    border-radius: 1rem
    overflow: hidden

    div
      aspect-ratio: 1 / 1
      border: 1px solid rgba(black, 0.1)

  .actions
    margin-top 1rem
    display flex
    justify-content: space-between
    width 100%
    max-width: 500px;

    .input-div
      display flex
      align-items start
      gap: .5rem
      height fit-content

      label
        align-self: center

      input
        max-width 60px
        height: 31.5px
        font-size: 1.2rem
        text-align: center 

    .buttons
      display grid
      grid-template-columns: repeat(7, 20px)
      grid-auto-rows: 1fr
      width fit-content
      gap: .4rem

      button
        padding 0 0
        border: none
        border-radius: 50%
        aspect-ratio: 1 / 1
        &:hover
          scale: 1.1

      button.selected
        scale: 1.1
        border: 2px solid white
        box-shadow: 0px 3px 5px rgba(black, 0.6)

      

